.flip-card {
  perspective: 1000px;
border: 1px solid rgba(0, 0, 0, 0.1); 
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
background-color: #ffffff; 
transition: transform 0.3s; /* Smooth transition for hover effect */
}

.flip-card-inner {
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  align-items: center; /* Center content vertically */
justify-content: center; /* Center content horizontally */
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
